#containsWhichGroup {
  text-align: center;
}
#conditionOfQuestion {
  font-size: 30px;
  margin: 0 auto;
}
#GroupName {
  margin-top: 2vh;
  display: none;
  font-size: 25px;
  margin-left: 40vw;
}
.buttonType {
  font-size: 50px;
}
body {
  background: black !important;
  overflow-x: hidden;
}
#groupforset {
  font-size: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#pointsGot {
  font-size: 25px;
  margin-left: 40vw;
  display: block;
  width: 20vw;
}
.timeRemainingTitle {
  margin-left: 25%;
  font-size: 25px;
}
/* buttonType is class of all the pass correct or wrong button */

#timeRemaining {
  margin-left: 34%;
  margin-bottom: 0px;

  height: 6vh;
  width: 10vw;
  text-align: center;
  padding: 2%;
  font-size: 30px;
}
#progressBack {
  margin-left: 11%;
  margin-right: 20%;
  margin-bottom: 10%;
  width: 80%;
  background: #ddd;
  text-align: center;
}

#progressFront {
  margin-bottom: 10%;
  width: 100%;
  height: 30px;
  background: #4caf50;
}

#done {
  font-size: 25px;
  margin-left: 30vw;
  display: none;
}
.buttonType {
  margin-left: 0;

  height: 100px;
  width: 100px;
}

.questionArea {
  padding: 10px;
  width: 100%;
  min-height: 20vh;
  font-size: 30px;
}
.groupbtn {
  font-size: 30px;
}
#containsWhichGroup {
  margin-top: 25px;
  text-align: center;
}
